<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prime Weekend Challenge 3</title>

    <script type="text/javascript" src="javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui.min.js"></script>
    <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
    <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="text/javascript" src="javascripts/jQ_app.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="javascripts/bootstrap.min.css">
    <!--<link rel="stylesheet" href="javascripts/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="javascripts/stylesheet.css">


</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="container">
            <div class="masthead-container">
                <div class="inner">
                    <h3 class="masthead-brand">Delta Cohort</h3>
                    <p>- be afwaid, be wewy afwaid...</p>

                </div>
                <div id="place-holder">
                    <div class="inner-cover deltaTeam" id="toggle">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
        <p>Cover template for <a href="#">Bootstrap</a>, by <a href="#">@mdo</a>.</p>
</div>
</body>
</html>