<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prime Weekend Challenge 3</title>

    <script type="text/javascript" src="javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui.min.js"></script>
    <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
    <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="text/javascript" src="javascripts/jQ_app.js"></script>
    <link rel="stylesheet" href="javascripts/stylesheet.css">

</head>

<body>
<div id="intro">
    Sit back and relax whilst AJAX loads it's stuff!
</div>

<div id='toggle' class="deltaTeam">
</div>

</body>
</html>